<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teddy.abmnews">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherxhdpi"
        android:label="ABM Pibi Pibo Today"
        android:roundIcon="@mipmap/ic_launcherxhdpi"
        android:supportsRtl="true"
        android:theme="@style/Theme.Abmnews">

        <activity android:name=".SplashScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".TentangActivity" />
        <activity android:name=".KontakActivity" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".LeadersActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".TestimoniActivity" />
        <activity android:name=".PlanActivity" />
        <activity android:name=".ProdukActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".LoginActivity"/>

    </application>

</manifest>